modules = ["nodejs-24", "python-base-3.13"]

[userenv]

[userenv.shared]
VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_3eGRSpvxptO09eQQzpxysQ_Imq8zi58"
VITE_SUPABASE_URL = "https://rscuzqnfccqvltkdcdny.supabase.co"

[nix]
channel = "stable-25_05"
